<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 定义日志文件 输入位置 -->
    <property name="LOG_HOME" value="/a/logs/wangjg/springbootdemo" />

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        输出到文件：
        file：日志输出的文件
        encoder：输出格式
        append：是否在文件末尾追加日志，默认为true。如果设为false，会清空之前的文件内容
    -->
    <!--
        pattern：
        %d：时间格式
        %thread：输出日志的线程
        level：日志输出级别
        %logger：输出日志的类的全限定名，后面的数字可以控制全限定名输出长度
        %msg：日志输出内容
        %relative：程序启动到输出日志所用时间，单位ms
     -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/user-web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/springbootdemo.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <append>true</append>
    </appender>

    <logger name="com.wangjg.framework" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!--SQL -->
    <!--仅记录 SQL-->
    <logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="jdbc.resultsettable" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--记录 SQL 以及耗时信息-->
    <logger name="jdbc.sqltiming" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--记录连接打开、关闭等信息，有利于调试数据库连接相关问题-->
    <logger name="jdbc.connection" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--会产生更多的记录信息，因为记录了 ResultSet 的信息-->
    <logger name="jdbc.resultset" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--记录除了 ResultSet 之外的所有 JDBC 调用信息，会产生大量的记录，有利于调试跟踪具体的 JDBC 问题-->
    <logger name="jdbc.audit" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--END SQL-->

    <!-- 默认日志级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>